.build-result {
  color: #fff;
  font-size: 40px;
  height: 50px;
  padding: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.build-pass {
 color: green;
}

.build-fail {
  color: red;
}

.build-running{
  color: #ade0ef;
}
